.projectsSection {
  padding-top: var(--spacing-2xl);
}



.projectsList {
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .projectsList {
    margin-top: 2rem;
  }
}