.navItemHover {
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateY(-50%);
  transition: padding 0.3s;
  padding: 50px;
  /* Distance from mouse to trigger animation */
  padding-left: 0px;
}

.navigation {
  border: var(--border-width-sm) solid var(--color-gray-medium);
  backdrop-filter: blur(var(--filter-blur));
  background-color: var(--semi-transparent-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
  transition: border-radius 0.3s;
}

.navItem {
  list-style: none;
}

.expanded.navItemHover {
  padding-left: var(--spacing-lg);
}

.expanded .navigation {
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

.active .navButton * {
  color: var(--color-accent);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navButton {
  color: var(--color-text-secondary);
  letter-spacing: 0.1em;
  cursor: pointer;
  width: 100%;
  transition: color 0.3s ease;
}

.navItemContent {
  padding: var(--spacing-sm);
}

.navItem:not(.active):hover * {
  color: var(--color-text-hover) !important;
}


@media (max-width: 480px) {
  .navigation {
    display: none;
  }
}


.navItem:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


.tooltip {
  position: absolute;
  left: 100%;
  transform: translateY(-100%);
  color: var(--color-accent-neutral);
  font-size: var(--font-size-xs);
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--border-radius-md);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  margin-left: 10px;
  z-index: 101;
  backdrop-filter: blur(var(--filter-blur));
  border: var(--border-width-sm) solid var(--color-gray-medium);
  letter-spacing: var(--letter-spacing-normal);
  text-transform: uppercase;
  transition-delay: var(--tootip-delay);
  visibility: hidden;
  background-color: var(--semi-transparent-dark);
}

.tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border-width: 5px 5px 5px 0;
  border-style: solid;
  border-color: transparent var(--color-gray-medium) transparent transparent;
}