.navItemHover {
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateY(-50%);

  transition: padding 0.3s;
  padding: 50px;
  /* Distance from mouse to trigger animation */
  padding-left: 0px;
}

.navigation {
  border: var(--border-width-sm) solid var(--color-gray-medium);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
  overflow: hidden;

  transition: border 0.3s;
}

.navItem {
  list-style: none;
}

.expanded.navItemHover {
  padding-left: var(--spacing-lg);
}

.expanded .navigation {
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

.active .navButton * {
  color: var(--color-accent);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navButton {
  color: var(--color-text-secondary);
  letter-spacing: 0.1em;
  cursor: pointer;
  width: 100%;
  transition: color 0.3s ease;
}

.navItemContent {
  padding: var(--spacing-sm);
}

.navItem:not(.active):hover * {
  color: var(--color-text-hover) !important;
}


@media (max-width: 480px) {
  .navigation {
    display: none;
  }
}