.aboutContainer {
  background-color: rgba(20, 20, 20, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  margin-top: 3rem;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-normal);

  margin-bottom: var(--font-size-lg);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.sectionTitle::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: var(--color-border-primary);
  bottom: -0.5rem;
  left: 0;
}

.aboutSection {
  margin-bottom: 2rem;
}

.aboutContent {
  display: flex;
  align-items: flex-start;
  gap: var(--font-size-lg);
}

.avatar {
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  transition: box-shadow 0.3s ease;
}

.avatar:hover {
  box-shadow: 0px 0px 0px var(--border-width-md) var(--color-border-muted);
}

.aboutText {
  line-height: 1.8;
  white-space: pre-line;
}

.infoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contactList {
  list-style: none;
  padding: 0;
}

.contactItem {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.contactLabel {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
}

.interestsColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--font-size-base)
}

.interestTitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.7);
  gap: var(--font-size-base)
}

.interestList {
  list-style: none;
  padding: 0;
}


@media (max-width: 1024px) {
  .aboutContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aboutSection {
    text-align: center;
  }

  .sectionTitle::after {
    left: 30%;
  }
}

@media (max-width: 768px) {
  .infoColumns {
    grid-template-columns: 1fr;
  }

  .interestsColumns {
    grid-template-columns: 1fr;
  }

  .aboutContainer {
    padding: 1.5rem;
  }
}